<!--The content below is only a placeholder and can be replaced.-->
<div>
	Vi testar en ny komponent! <br />
	<app-toggle-button></app-toggle-button> <br />
	<app-toggle-button></app-toggle-button> <br />
	<app-toggle-button></app-toggle-button> <br />
	<app-toggle-button></app-toggle-button> <br />
	<app-toggle-button></app-toggle-button> <br />
	<app-toggle-button></app-toggle-button> <br />
	<app-toggle-button></app-toggle-button> <br />
	<app-toggle-button></app-toggle-button> <br />
	<app-toggle-button></app-toggle-button> <br />
	<app-toggle-button></app-toggle-button> <br />

	<app-pipe-demo></app-pipe-demo>
</div>

<router-outlet></router-outlet>
