/* You can add global styles to this file, and also import other style files */
* {
	box-sizing: border-box;
}
body {
	font-size: 1.2em;
}
p::after, p::before {
	font-size: 2em;
	text-align: center;
	margin: 0 auto;
	display: block;
	content: '🤷  🤷🏾‍  🤷  🤷🏾‍  🤷  🤷🏾‍  🤷\a';
}
p {
	text-align: center;
}
/* body *::after, body *::before {
	content: ' 🦄 ' !important;
} */
button {
	font-size: 1.2em;
	padding: 0.2em;
	margin: 0.3em;
}




/* div {
	background-color: rgba(0,0,0,0.5);
	border-radius: 20px;
	border: 20px solid #4ebedd;
	padding:20px;
} */
div {
	background-image: repeating-linear-gradient(to right,#c4e17f 0px, #c4e17f 50px,#f7fdca 50px, #f7fdca 100px,#fad071 100px, #fad071 150px,#f0766b 150px, #f0766b 200px,#db9dbe 200px, #db9dbe 250px,#c49cdf 250px, #c49cdf 300px,#6599e2 300px, #6599e2 350px,#61c2e4 350px, #61c2e4 400px);
	background-size: 100% 10px;
	background-repeat:no-repeat;
	padding: 20px 0 10px 0;
}
